


@media only screen and (max-width: 1199px) {

}
@media only screen and (max-width: 991px) {
    .how-works {

        .how-works-slider {

            .slick-slider-content {
                width: 57%;

                .slick-slider-item {
                    padding: 20px;
                }
            }
        }
    }

    .social-media {

        a {
            padding: 5px;
        }
    }

    .footer {
        padding: 60px 0 25px;

        h5 {
            margin: 0 0 15px;
        }

        .copyright {
            padding: 25px 0 0;
            margin: 25px 0 0;
        }

        .navbar-nav {

            li {

                a {
                    padding: 5px 0;
                }
            }
        }
    }

    .contact-area {
        padding: 60px 0;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-nav {
        margin: 0;
     /* navbar toggle */ 
    }
    .navbar-toggle {
        margin: 0;
        display: block;
        border: 0;

        .icon-bar {
            margin: 0 auto;

            &:nth-child(1) {
                width: 25px;
            }
            &:nth-child(4) {        
                width: 25px;
            }
        }

        &:hover {

            .icon-bar {

                &:nth-child(1) {
                    -webkit-transform: translateY(-2px);
                    -moz-transform: translateY(-2px);
                    -ms-transform: translateY(-2px);
                    -o-transform: translateY(-2px);
                    transform: translateY(-2px);
                }
                &:nth-child(2) {
                    
                }
                &:nth-child(4) {        
                    -webkit-transform: translateY(2px);
                    -moz-transform: translateY(2px);
                    -ms-transform: translateY(2px);
                    -o-transform: translateY(2px);
                    transform: translateY(2px);
                }
            }
        }

        &:hover, &:focus {
            background-color: transparent !important;

            &:before {
                opacity: 1;
                -webkit-transform: translateX(0);
                -moz-transform: translateX(0);
                -ms-transform: translateX(0);
                -o-transform: translateX(0);
                transform: translateX(0);
            }
        }

        &.in {

            .icon-bar {
                -webkit-transition: -webkit-transform 150ms linear;
                transition: -webkit-transform 150ms linear;
                transition: transform 150ms linear;
                transition: transform 150ms linear, -webkit-transform 150ms linear;

                &:nth-child(2) {
                    transform: translateY(3px);

                    .inner {
                        -webkit-transform: rotate(45deg);
                        -moz-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        -o-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }
                }
                &:nth-child(1) {
                    opacity: 0;
                }
                &:nth-child(4) {
                    opacity: 0;
                }
                &:nth-child(3) {        
                    transform: translateY(-3px);

                    .inner {                            
                        -webkit-transform: rotate(-45deg);
                        -moz-transform: rotate(-45deg);
                        -ms-transform: rotate(-45deg);
                        -o-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                    }
                }
            }
        }

        .icon-bar {
            width: 35px;
            margin-bottom: 4px;
            background-color: transparent !important;
            -webkit-transition: -webkit-transform 150ms linear 150ms;
            transition: -webkit-transform 150ms linear 150ms;
            transition: transform 150ms linear 150ms;
            transition: transform 150ms linear 150ms, -webkit-transform 150ms linear 150ms;

            .inner {
                width: 100%;
                height: 3px;
                display: block;
                border-radius: 4px;
                background-color: $primary;
                -webkit-transition: background-color 150ms linear, opacity 0s linear 150ms, -webkit-transform 150ms linear;
                transition: background-color 150ms linear, opacity 0s linear 150ms, -webkit-transform 150ms linear;
                transition: transform 150ms linear, background-color 150ms linear, opacity 0s linear 150ms;
                transition: transform 150ms linear, background-color 150ms linear, opacity 0s linear 150ms, -webkit-transform 150ms linear;
            }
        }
    }

    .header {

        &.sticky {
            padding: 10px 0;
        }

        .navbar {

            .navbar-wrapper {
                display: inherit;

                .navbar-header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &:before, &:after {
                        content: none;
                    }

                    .navbar-toggle {
                        padding: 3px;
                    }

                    .navbar-brand {
                        padding: 0;
                    }
                }

                .navbar-nav {
                    margin: 20px 0 0;
                }

                .navbar-collapse {
                    padding: 0;      
                }
            }
        }
    }

    .screenshot {
        padding: 0 0 50px;
    }

    .services {
        padding: 20px 0;

        .align-center {
            display: inherit;
            padding: 30px 0;
        }

        .main-content {
            max-width: 100%;
        }

        .media {

            img {
                width: auto;
                margin: 0 auto;
            }
        }
    }

    .how-works {
        overflow: hidden;

        .how-works-slider {

            .slick-slider-content {
                width: 100%;

                .slick-slider-item {
                    padding: 20px;

                    &.slick-current {
                        box-shadow: inset 0 3px 0px #5c9fff;
                    }
                }
            }

            .slick-slider-img {
                width: 100%;

                img {
                    margin: 0 auto 10px;
                }
            }
        }
    }

    .companies {
        padding: 50px 0;

        .company {
            padding: 25px;

            img {
                margin: 0 0 15px;
            }
        }
    }

    .footer {

        .col {
            margin: 0 0 25px;
        }
    }
}

@media only screen and (max-width: 575px) {
    .col {
        width: 100% !important;
    }

    .banner {
        padding: 0 0 40px;

        .banner-content {

            h1 {
                @include em(32px, 0, 36px);
            }

            h4 {
                @include em(20px, 0, 30px);
            }
        }
    }

    .page-banner {
        height: 300px;
    }

    .services {

        .align-center {
            display: inherit;
            padding: 15px 0;
        }
    }

    .main-content {

        h2 {
            @include em(27px, 0, 35px);
        }

        p {
            margin: 0 0 15px;
            @include em(15px, 0, 24px);
        }

        ul {

            li {
                @include em(15px, 0, 24px);
            }
        }
    }

    .companies {
        padding: 30px 0;

        .title {
            margin: 0 0 20px;
        }
    }

    .footer {
        padding: 45px 0 15px;

        .copyright {
            padding: 15px 0 0;
            margin: 5px 0 0;
        }
    }

    .contact-area {
        padding: 35px 0;
    }
}

@media only screen and (max-width: 520px) {
    .companies {

        .company {
            width: 100%;

            &+.company {
                margin: 15px 0 0;
            }
        }
    }
}